@{
    ViewBag.Title = "Generales";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Generales</title>
</head>
<body>
    <div>
    
    </div>
</body>
</html>
